/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/

# GHA setup-ruby installs gems into vendor/bundle.
# The bump_version workflow commits and pushes from the action runner so we want vendor/bundle to be ignored.
/vendor/bundle
